body {
  height: 100vh;
  background-color: rgb(236, 235, 235);
  color: black;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/nasa-Q1p7bh3SHj8-unsplash.jpg');
  background-size: cover;
  background-position: center;
  cursor: default;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80vh;
  margin: 0 auto;
}

.header {
  height: 80px;
  line-height: 80px;
  color: white;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 78vh;
  margin: 0 auto;
}

.title {
  display: flex;
}

.header h1 {
  font-weight: 500;
  margin: 0;
}

.header a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

.header a:hover {
  color: rgb(235, 235, 235);
}

.main1, .main2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 940px;
  margin: 0 auto;
}

.main2 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.main-container h2 {
  margin: 0 auto;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}

.main1-left, .main2-right {
  background-color: rgba(235, 235, 235, .85);
  border: 1px solid black;
  border-radius: 5px;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-right {
  width: 650px;
  cursor: default;
}

.indicator-info-container {
  width: 250px;
  cursor: default;
  font-size: 15px;
  text-align: center;
}

.form-nci, .form-iaq {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  justify-content: space-around;
  margin-top: 39px;
}

.form-nci h4 {
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.form-nci input, #city, #indicator {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(235, 235, 235, .70);
  color: black;
  outline: none;
}

#city:hover, #indicator:hover {
  background-color:  rgb(0, 0, 99);
  color: white;
  cursor: pointer;
}

#submit {
  background-color: rgba(235, 235, 235, .70);
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

#submit:hover {
  background-color: rgb(0, 0, 99);
  color: white;
  cursor: pointer;
}

#submit:disabled {
  background-color: rgb(197, 197, 197);
  color: black;
  cursor: default;
}

.fa-spinner {
  color: rgb(0, 0, 99);
}

.line {
  stroke-width: 2px;
}

.line-chart-container, .bar-chart-container {
  background-color: rgba(235, 235, 235, .85);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 450px;
  width: 650px;
}

.x-axis, .y-axis {
  font-size: 13px;
}

.line-legend {
  background-color: rgba(235, 235, 235, .85);
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.line-legend-items {
  display: flex;
  justify-content: space-between;
  width: 575px;
  margin: 0 auto;
  text-align: justify;
}

.line-legend-item {
  display: flex;
  flex-direction: column;
}

.fa-globe-americas {
  margin-top: 20px;
}

.line-legend-item p {
  width: 200px;
  font-size: 14px;
  text-align: left;
}

.line-legend-item:last-of-type p {
  text-align: right;
}

.models-description {
  width: 575px;
  margin: 0 auto 10px auto;
  padding-top: 10px;
  text-align: justify;
  font-size: 14px;
  border-top: 1px solid black;
}

.green {
  color: green;
  font-weight: 600;
}

.blue {
  color: rgb(0, 0, 99);
  font-weight: 600;
}

.main2 {
  display: none;
}